:root {
  --font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  --font-size-base: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --bg-image: url("../images/cover-image-dark.png");
  --title-text-color: #db00ff;
  --description-text-color: #000028;
  --accent-color: #ff0070;
  --section-text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --rec: flex;
  --decorated-color: #FF0070;
  --decorated-color-link: #F1B2CE;
  --decorated-color-transparent: #FF007066;
}
